<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>
  <!-- link to  css files -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <!-- navigation -->
  <nav class="navbar navbar-light bg-light d-flex justify-content-around">
    <div class="d-inline m-3">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="35"
            height="35" class="d-inline align-top" alt="我的餐廳清單">
          <span class="h3">我的餐廳清單</span>
        </a>
    </div>
    <!-- create button -->
    <div class="text-end d-inline m-3">
      <a href="/restaurants/new" class="btn btn-primary border border-info border-4 rounded-pill">
        <span class="h4 p-3">新 增 餐 廳</span>
      </a>
    </div>
  </nav>
  <!-- banner -->
  <div class="banner"></div>

  <!-- partial template -->
  {{{body}}}

  <!-- link to javascripts files -->
  <script src="/stylesheets/popper.js"></script>
  <script src="/stylesheets/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/37eca1a7c3.js" crossorigin="anonymous"></script>
</body>
</html>